@page
@model WebApp.Pages.OrganizationsModel

<h1>Организациями сгруппированные по сферам деятельности</h1>

@{
    foreach (var businessArea in Model.BusinessAreasWithOrganizations)
    {
        <h2 class="mt-4">@businessArea.Key.Name</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Полное наименование</th>
                    <th>Краткое наименование</th>
                    <th>ФИО директора</th>
                    <th>Уставной капитал</th>
                    <th>ИНН</th>
                    <th>КПП</th>
                    <th>ОГРН</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var organization in businessArea.Key.Organizations)
                {
                    <tr>
                        <td>@organization.Id</td>
                        <td>@organization.FullName</td>
                        <td>@organization.ShortName</td>
                        <td>@organization.Ceo.GetFio()</td>
                        <td>@organization.AuthorizedCapital</td>
                        <td>@organization.Inn</td>
                        <td>@organization.Kpp</td>
                        <td>@organization.Ogrn</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}